*{
  margin: 0;
  padding: 0;
}
.navbar {
  height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 100, 45);
    color: #ecf0f1;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    margin-right: 20px;
  }
  
  .navbar-links li {
    font-size: 1rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #ecf0f1;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: rgb(0, 0, 0);
  }
  